$perspective: 1000px;
$spinTime: 0.5s;

.Wrapper {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Slider {
  position: relative;
  width: 150px;
  aspect-ratio: 1 / 1.58;
  transform-style: preserve-3d;
  transform: perspective($perspective);

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 180deg)) translateZ(150px);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
      -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.35);
    }
  }
}

.SpinLeft {
  animation: rotateLeft $spinTime linear;
}

@keyframes rotateLeft {
  0% {
    transform: perspective($perspective) rotateY(0deg);
  }
  100% {
    transform: perspective($perspective) rotateY(-180deg);
  }
}

.SpinRight {
  animation: rotateRight $spinTime linear;
}

@keyframes rotateRight {
  0% {
    transform: perspective($perspective) rotateY(0deg);
  }
  100% {
    transform: perspective($perspective) rotateY(180deg);
  }
}

.FadeOut {
  animation: fadeOut $spinTime linear;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.FadeIn {
  animation: fadeIn $spinTime linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
