.MetaContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  .Meta {
    position: absolute;
    transition: 500ms;
    text-align: center;
    width: fit-content;

    opacity: 0;

    &.Active {
      opacity: 1;
    }

    &.Left {
      transform: translateX(-75%);
    }

    &.Right {
      transform: translateX(75%);
    }
  }

  .Benefit {
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
  }
  .CardName {
    display: block;
    margin-top: 8px;
    font-size: 0.875rem;
    font-weight: 300;
  }
}
